html {
    background-color: black;
    text-align: center;
    font-family: Verdana;
    color:white;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20 px;
}

header h1 {
    font-weight: normal;
    font-size: 50px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

video-section {
    margin: 20px auto;
    width: 100px;
    padding: 10px;
}

video {
    margin-top: 30px;
    width: 30%;
    height: auto;
}

.travel-guide h2 {
  font-weight: 300px;
  font-size: 42px;
}

.travel-guide p {
    font-size: 21px;
    color: gray;
}

.camping-image {
    width: 100%;
    max-width: 800px;
    height: auto;

}

.icon {
    margin-top: 20px;
    width: 60px;
}

footer h2 {
    padding: 10px;
    font-size: 35px;
}

.copyright {
    text-align: right;
    font-weight: 100;
    font-size: small;
    color: gray;
}